@use '../mixins/resposive.scss' as *;
.group-cards{
    display: flex;
    flex-direction: column  ;
    align-items: center;
    gap: 25px;
    position: relative;
    @include responsive(desktop){

        position: absolute;
        width: 1110px;
        height: 530px;
        justify-content: center;
        left: 164px;
        
     }
}
.card{
    height: 222px;
    width: 311px;
    border-radius: 8px;
    border-top: solid var(--green);
    box-shadow: 0 4px 4px  rgba(0, 0, 0, 0.25) ;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: flex-start;
    &__green{
        border-top: solid var(--green);
        @include responsive(desktop){
        position: absolute;
        left: 45px;
         }
    }
    &__red{
    border-top: solid var(--red);
    }
    &__yellow{
    border-top: solid var(--yellow);
    }
    &__blue{
    border-top: solid var(--blue);
    @include responsive(desktop){
        position: absolute;
        right: 45px;
         }
    }
}