.text-top{
 width: 311px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 15px;
letter-spacing: 0.1px;
color: hsla(234, 12%, 34%, 0.5);
line-height: 25px;
font-size: 15px;
margin:16px 28px;
}

.text{
width: 254px;
font-family: "Poppins", sans-serif;
font-weight: 400;
font-size: 13px;
letter-spacing: 0.09px;
color: hsla(234, 12%, 34%, 0.5);
line-height: 23px;
margin:16px 28px;
}
